body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  margin: 0px;
}

@azure: #07afca;
@lightGrey: #ebebeb;

/* Directive LESS */
@import "../directive/logTable/logTable.less";
/* Add Directive LESS Above */

/* Partial LESS */
@import "../partial/currentWeather/currentWeather.less";
@import "../partial/main/main.less";
@import "../partial/filter/filter.less";
@import "../partial/logo/logo.less";
@import "../partial/footer/footer.less";
/* Add Partial LESS Above */