div[ng-controller="LogoCtrl"] {

  div.head {
    border-bottom: 1px @fadedGrey solid;
    padding-left: 10px;
    margin-bottom: 12px;
    padding-bottom: 4px;
  }

  h1 {
    color: @darkBlue;
    font-size: 16px;
    margin-bottom: 0px;
  }

  p {
    color: @lightGrey;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

}