table {
  border: 0px #0b97c4 solid;
  border-top-width: 3px;
  border-bottom-width: 1px;
  //margin:0 auto;
}

table td {
  border: 0px #D2E0E6 solid;
  border-bottom-width: 1px;
  padding: 0 10px;
}

table tbody tr:last-child td {
  border-bottom-width: 0px;
}

thead tr {
  border: 0px #0b97c4 solid;
  border-top-width: 3px;
  border-bottom-width: 1px;
}

thead td {
  font-weight: bold;
  border: 0px #606060 solid;
  border-bottom-width: 1px;
}