div[ng-controller="CurrentWeatherCtrl"] {

  div.head {
    border-bottom: 1px @fadedGrey solid;
    padding-left: 10px;
    margin-bottom: 12px;
    padding-bottom: 4px;
  }

  div.no-data {
    font-size: 20px;
    font-color: @lightGrey;
    width: 400px;
  }

}